body{
	background:rgba(120,255,137,0.7);
	color: black;
}
h1{
	color:white;
	background: grey;
}
h2{
	color: red;
	background: white;
}
formula{
	font-weight: bold;
}
.definition{
	border: 1px solid black;
	padding: 10px;
}
