table{
	margin: 10px;
	margin: auto;
	padding: 2px,2px,5px,5px;
}
.left{
	text-align: left;
}
.header{
	background: url(images/back.jpg);
	color: white;
	font-family: sans-serif;
	font-weight: bolder;
	text-align: center;
}
.picture{
	background: url(images/paper.jpg);
	padding: 10px;
	width: 120px;
}
.note{
	font-family: Arial,Helvetica,sans-serif;
	color: #800000;
	text-align: center;
	padding: 5px,5px,10px,10px;
}