body{
	background:#1a1c1c;
	color: white;
}
h1{
	color:#d4cdce;
	background: #82172b;
}
h2{
	color: #82172b;
	background: #d4cdce;
}
.formula{
	text-align: center;
	font-style: italic;
	font-weight: bolder;
}
.definition{
	border: 1px solid black;
	padding: 10px;
	border-color: #d4cdce;
}
