body{
	background-image: url(images/back.jpg);
	color: white;
}
.name{
	font-style: italic;
	font-weight: bolder;
	color: yellow;
}
.block{
	overflow: auto;
}
.right{
	float: right;
	margin: 10px;
}
.left{
	float: left;
	margin: 10px;
}